.header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    background: url(../../assets/bg-metall-constructions.jpg);
    background-size: cover;

}

.header-section__overlay-background{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--color-bg-black);
    min-height: 100vh;

}

.header-section__h1 {
    color: var(--color-white)
}

.header-section__h1__span {
    color: var(--color-golden)
}

.header-section__paragraph {
    padding-top: 1.5rem;
    width: 70%
}


/* ============= MEDIA QUERIES (SMALL DEVICES) ========= */


@media screen and (max-width: 600px) {

    section {
        margin-top: 4rem;
    }

    h1 {
        font-size: 1.75rem;
    }
    section > h2 {
        font-size: 1.5rem;
    }
    .header-section__paragraph {
        width: 100%;
    }
}